# CLIENT
consumer/node_modules
consumer/build

# dependencies
consumer/.pnp
consumer/.pnp.js

# testing
consumer/coverage

# production
consumer/build

# misc
consumer/.DS_Store
consumer/.env.local
consumer/.env.development.local
consumer/.env.test.local
consumer/.env.production.local

consumer/npm-debug.log*
consumer/yarn-debug.log*
consumer/yarn-error.log*

# SERVER
server/node_modules
server/build
server/.env
server/.env.dev
server/.env.development
server/.env.prod

# EXTRA
extra/payment_client/node_modules
extra/payment_client/build
